<section id="main-image-section">
  {% if section.settings.main_image != blank %}
    <img width="100%" height="100%" src="{{ section.settings.main_image | image_url}}">
  {% else %}
    <img width="100%" height="100%" src="{{ "two.png" | asset_url}}" alt="Main Image">
  {% endif %}
</section>

{% schema %}
{
  "name": "Image Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Pick Image"
    }
  ],
  "presets": [
    {
      "name": "image-section"
    }
  ]
}
{% endschema %}
