<section id="video-section">
  <video>
    {% if section.settings.video_url != blank %}
      <source src="{{ section.settings.video_url | asset_url }}">
    {% else %}
      <source src="{{ '' | asset_url }}">
    {% endif %}
  </video>
</section>

{% schema %}
{
  "name": "Video Section",
  "settings": [
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video Link",
      "accept": ["vimeo", "youtube"]
    }
  ],
  "presets": [
    {
      "name": "video-section"
    }
  ]
}
{% endschema %}
