body {
  background-color: "{{ settings.bg }}";
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

.announcement-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}

.left-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.right-section {
  display: flex;
  gap: 15px;
  padding-right: 15px;
}

.right-section li {
  list-style-type: none;
}

.right-section li a {
  text-decoration: none;
  font-size: 17px;
  transition: 0.1s ease-in-out;
}

.right-section li a:hover {
  opacity: 70%;
}

.notfound {
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/**
 * --------------------------------------------------------------------
 * HEADER
 * --------------------------------------------------------------------
 */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-section {
  margin-left: 15px;
}

.header-middle-section .menus {
  display: flex;
  list-style-type: none;
  color: black;
}

.header-middle-section .menu-items {
  position: relative;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
}

.header-middle-section .menu-item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.header-middle-section .menu-items:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.header-middle-section .menu-item:hover {
  border-bottom: 1px solid black;
}

.header-right-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-right-section form .search-bar {
  padding: 8px;
  outline: none;
  border-radius: 50px;
  margin-top: 16px;
  background-color: #f4f4f4;
}

.header-right-section .cart_button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.dropdown-menu {
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  max-height: max-content;
  list-style-type: none;
  top: 100px;
  max-width: 100px;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background-color: #f4f4f4;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu-items:hover>.dropdown-menu {
  top: 40px;
  opacity: 100%;
  z-index: 999;
  visibility: visible;
}

.dropdown-menu .dropdown-items {
  padding: 10px 0px;
}

.dropdown-menu .dropdown-item {
  color: #707072;
  text-decoration: none;
  margin-left: -35px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
  color: #000000;
  text-decoration: underline;
}

/**
*
* BANNER
*
**/

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner a {
  margin-bottom: 15px;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

/**
*
* MAIN IMAGE SECTION
*
**/

#main-image-section {
  height: 90vh;
}

#main-image-section img {
  object-position: center;
}

/*
*
**   FEATURED PRODUCTS
*
*/

#featured-product {
  padding: 0px 20px;
}